body{
    background-color: bisque;
    padding: 5%;
    height: 100vh;
}
.container{
    margin:auto;
    padding: 10px;
    background-color: cadetblue;
    width: 500px;
    height: 800px;
    min-width: 300px;
    border-radius: 25px;
    border: 4px solid black;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow:row;
}
.output{
    background-color: greenyellow;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid gray;
    width: auto;
    padding-left: 20px;
    overflow-x: hidden;
    max-lines: 1;
    
}
.grid-container{
    display: flex;
    align-items: center;
    height: auto;
    border-radius: 25px;
}
.grid-container h2{


    
}
#total{
    grid-column-start: -5;
    grid-column-end:-1;
}
.btn-num{
    flex-direction: column;
    justify-content: center;
    min-height: 70px;
    font-size: 36px;
    background-color:deepskyblue;
    border: 1px solid aqua;
    transition: background-color 0.5s;
}
.btn-num:hover{
    background-color:lightcyan
}
.btn-num:active{
    background-color:rgb(22, 156, 218);
}